
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="map" id="map"></div>

<div class="fields">
    <form method="post" action="">
        <table>
            <tr>
                <td class="table_border_right">Название</td>
                <td class="table_border_bottom"><input type="text" name="Name"/></td>
            </tr>
            <tr>
                <td class="table_border_right">Долгота</td>
                <td class="table_border_bottom"><input type="text" name="LocationX" id="lng"/></td>
            </tr>
            <tr>
                <td class="table_border_right">Широта</td>
                <td class="table_border_bottom"><input type="text" name="LocationY" id="lat"/></td>
            </tr>
            <tr>
                <td class="table_border_right">Чистота</td>
                <td class="table_border_bottom">
                    <div>
                        @Html.RadioButton("Purity", "VaryBad")
                        @Html.RadioButton("Purity", "Bad")
                        @Html.RadioButton("Purity", "Medium")
                        @Html.RadioButton("Purity", "Good")
                        @Html.RadioButton("Purity", "VeryGood")
                    </div>
                </td>
            </tr>
            <tr>
                <td class="table_border_right">Людность</td>
                <td class="table_border_bottom">
                    <div>
                        @Html.RadioButton("Crowdy", "VaryBad")
                        @Html.RadioButton("Crowdy", "Bad")
                        @Html.RadioButton("Crowdy", "Medium")
                        @Html.RadioButton("Crowdy", "Good")
                        @Html.RadioButton("Crowdy", "VeryGood")
                    </div>
                </td>
            </tr>
            <tr>
                <td class="table_border_right">Доступность</td>
                <td class="table_border_bottom">
                    <div>
                        @Html.RadioButton("Appriachibility", "VaryBad")
                        @Html.RadioButton("Appriachibility", "Bad")
                        @Html.RadioButton("Appriachibility", "Medium")
                        @Html.RadioButton("Appriachibility", "Good")
                        @Html.RadioButton("Appriachibility", "VeryGood")
                    </div>
                </td>
            </tr>
            <tr>
                <td class="table_border_right">Комфортабельность</td>
                <td class="table_border_bottom">
                    <div>
                        @Html.RadioButton("Comfortableness", "VaryBad")
                        @Html.RadioButton("Comfortableness", "Bad")
                        @Html.RadioButton("Comfortableness", "Medium")
                        @Html.RadioButton("Comfortableness", "Good")
                        @Html.RadioButton("Comfortableness", "VeryGood")
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="table_border_bottom">
                    <textarea class="textarea_camp" name="ShortDescription" ></textarea>
                </td>
            </tr>
            <tr>
                <td><input type="submit" value="Отправить"/></td>
            </tr>
        </table>
    </form>
</div>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBiYT8YJ36AWUsSXozMhCOWi-ruz0tgPc&callback=initMap"></script>

<script type="text/javascript">

    var map;

    function initMap()
    {
        var myLatlng = { lat: 50, lng: 36.28 };

        map = new google.maps.Map(document.getElementById('map'), {center: myLatlng, zoom: 8});

        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            draggable: true,
            title: 'Click to zoom'
        });

        marker.addListener('drag', function ()
        {
            var lng = document.getElementById('lng');
            var lat = document.getElementById('lat');
            lng.value = marker.getPosition().lng();
            lat.value = marker.getPosition().lat();
        });

        marker.addListener('click', function () {
            map.setZoom(8);
            map.setCenter(marker.getPosition());
        });
    }
</script>


