@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row user-info">
    <div class="col-md-2">

    </div>
    <div class="col-md-10">
        <p>@ViewBag.User.FirstName @ViewBag.User.LastName</p>
        <p>@ViewBag.User.BirthDate</p>
        <p>Адрес: @ViewBag.User.Adress, Skype: @ViewBag.User.Skype, Телефон: @ViewBag.User.Phone</p>
        <p>@ViewBag.User.AdditionalInformation</p>
    </div>
</div>

<div class="panel-group">
    @if (ViewBag.Articles != null)
    {
        foreach (var a in ViewBag.Articles)
        {
            <div class="panel panel-info">
                <div class="panel-heading">Место отдыха: @a.CampPlace.Name </div>
                <div class="panel-body">@a.Text</div>
                <div class="panel-footer">@a.CreationDate    Id статьи: @a.Id<a class="pull-right btn btn-danger btn-xs" href="/Article/Delete/@a.Id">Удалить обзор</a></div>
            </div>
        }
    }
</div>


