@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="maintable">
    <table class="maintable">
        <tr>
            <td rowspan="4" width="120" class="table_border_right"></td>
            <td height="30" class="table_border_bottom" >@ViewBag.User.FirstName @ViewBag.User.LastName</td>
        </tr>
        <tr>
            <td height="30" class="table_border_bottom">@ViewBag.User.BirthDate</td>
        </tr>
        <tr>
            <td height="30" class="table_border_bottom">Адрес: @ViewBag.User.Adress, Skype: @ViewBag.User.Skype, Телефон: @ViewBag.User.Phone</td>
        </tr>
        <tr>
            <td height="100" class="table_border_bottom">@ViewBag.User.AdditionalInformation</td>
        </tr>
    </table>
</div>

<div>

</div>

<div>
    @if (ViewBag.Articles != null)
    {
        foreach (var a in ViewBag.Articles)
        {
            <div class="upper_list_text">Место отдыха: @a.CampPlace.Name <a class="left_buttons" href="/Article/Delete/@a.Id">Удалить обзор</a></div>
            <div class="upper_list_text">@a.Text</div>
            <div class="lower_list_text">@a.CreationDate    Id статьи: @a.Id</div>
        }
    }

</div>


