@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <form method="post">
        <input type="text" name="GroupName"/>
        <label>Найти группу</label>
        <a href="/Groups/CreateGroup">Создать группу</a>
    </form>
</div>
<div>
    @{ if(ViewBag.Groups.Count == 0)
        {
            <h2> Вы еще не вступили ни в одну группу </h2>
        }
        else
        {
            <h2>Созданные вами группы: </h2>
            foreach (var g in ViewBag.Groups)
            {
                if (g.Creator.Id == 1)
                {
                    <div class="upper_list_text"><a href="/Groups/Open/@g.Id">@g.Name</a></div>
                    <div class="upper_list_text">Id группы: @g.Id</div>
                    <div>Описание: @g.ShortDescription</div>
                    <div class="lower_list_text">
                        @{if (g.Members == null)
                          {
                            <span>Кол-во учасноков: 0</span>
                          }
                          else
                          {
                            <span>Кол-во учасноков: @g.Members.Count</span>
                          }
                         }
                    </div>
                 }
            }

            <h2>Вы состоите в группах: </h2>
            foreach(var g in ViewBag.Groups)
            {
                if (g.Creator.Id != 1)
                {
                    <div class="upper_list_text">Id группы: @g.ID</div>
                    <div>Название группы: @g.Name</div>
                    <div>Описание: @g.ShortDescription</div>
                    <div>@{if(g.Members == null)
                            {
                                <span>Кол-во учасноков: 0</span>
                            }
                            else
                            {
                                <span>Кол-во учасноков: @g.Members.Count</span>
                            }
                          }
                    </div>
                    <div class="lower_list_text">Создатель: @g.Creator.FirstName @g.Creator.LastName</div>
                }
            }
        }
    }
</div>
